/*******************************BLANCO*****************************/

#cntr_figuras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

#cntr_figuras2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#figuras {
    height: 160px;
}

#boton {
    display: flex;
}
