/*******************************BLANCO*****************************/

#cntr_figuras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

#figuras {
    height: 160px;
}