/*******************************BLANCO*****************************/

#cntr_pedidos_mod{
    display: flex;
    justify-content: center;
}
#cntr_gris_pedidos_mod {
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenido_pedidos_mod {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

#columna_izq {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#columna_der {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

/************************************************************/

