ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

#cuadrado {
    background-color: #D9D9D9;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconos {
    height: 110px;
}
